<div class="card" style=
'background-color: "pink"'>
  <div class="card-header" style="color:rgb(214, 41, 128);">
    Zabantu MakeUp Boutique
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/log.JPG"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:5px" />
      </div>

      <div class="text-center">Developed and edited by:</div>
      <div class="text-center">
        <h3>Deborah Kurata And Liberty</h3>
      </div>


    </div>
  </div>
</div>
